/* Thin */
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Thin.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-ThinItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: italic;
}

/*Extra-Light*/
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Extralight.ttf) format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-ExtralightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

/*Light*/
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

/*Regular*/
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-RegularItalic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

/*Medium*/
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

/*Semi-bold*/
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Semibold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-SemiboldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

/*Bold*/
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

/*Super - extra-bold*/
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Super.ttf) format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-SuperItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

/*Black*/
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-Black.ttf) format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Graphik Web';
  src: url(/fonts/graphik/Graphik-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}
